click==8.0.4
cloudpickle==2.2.1
colorama==0.4.6
Flask==2.2.2
gunicorn==22.0.0
itsdangerous==2.0.1
Jinja2==3.1.2
joblib==1.2.0
jsonpickle==3.2.2
jsonpointer==2.1
lz4==4.3.2
MarkupSafe==2.1.1
mlflow==2.13.0
numpy==1.26.0
packaging==23.1
pandas==2.2.2
pathlib==1.0.1
psutil==5.9.0
python-dateutil==2.8.2
pyyaml==6.0.1
requests==2.32.3
requests-oauthlib==2.0.0
pytz==2023.3.post1
scikit-learn==1.2.2
scipy==1.14.0
six==1.16.0
threadpoolctl==3.5.0
tzdata==2023.3
Werkzeug == 2.2.3
xgboost==2.0.3
