<!DOCTYPE html>
<html>
<head>
    <title>OpenClassrooms Projet 7 - Probabilité de faillite d'un client</title>
</head>
<body>
    <h1>OpenClassrooms Projet 7 - Probabilité de faillite d'un client</h1>

    <footer>
        <p>API créée par Sébastien Garcia</p>
    </footer>

    <form action="/predict" method="post">
        <label for="client_id">Spécifier l'ID du client :</label>
        <input type="text" name="client_id" id="client_id">
        <input type="submit" value="Envoyer">
    </form>
	
</body>
</html>
